
<div class="bg-light rounded container">

<h2>Experimentation</h2>

<span> This is a page where I can expirement with html and keep a record of those experiments.</span>
<br>
<br>
<br>
<br>
<span> Smooth animations in HTML.</span>
    <div class="arrow"></div>
    <div class="row" style="width:800px; justify-content: center; text-align: center; margin: auto;">
            <div class="flowing-traffic" style="height: 20px; width: 100px; background-color: green; display: inline-block;"></div>
            <div class="flowing-traffic"style="height: 20px; width: 100px; background-color: green; display: inline-block;"></div>
            <div class="flowing-traffic"style="height: 20px; width: 100px; background-color: green; display: inline-block;"></div>
            <div class="flowing-traffic"style="height: 20px; width: 100px; background-color: green; display: inline-block;"></div>
            <div class="flowing-traffic"style="height: 20px; width: 100px; background-color: green; display: inline-block;"></div>
            <div class="flowing-traffic"style="height: 20px; width: 100px; background-color: green; display: inline-block;"></div>
            <div class="flowing-traffic"style="height: 20px; width: 100px; background-color: green; display: inline-block;"></div>
    </div>

    <br>

</div>