.flowing-traffic {
    width: max-content;
    background: linear-gradient(90deg, black 75%, transparent 25%);
    background-repeat: repeat-x;
    background-size: 50% 5%;
    padding: 20px;
    animation: border-dance 1s infinite linear;
  }
  
  @keyframes border-dance {
    0% {
      background-position: 0 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }