<div class="row">
    <div class="col-12">
        <canvas #canvas id="canvas" syle="max-width:100%;"></canvas>
    </div>
</div>
<table>
    <tbody>
        <tr><th>Controls - This is the Three.js cube(version 122) ported from ReactJS to AngularTS</th></tr>
        <tr>
            <td>Up</td><td>Q,W,E</td>
        </tr>
        <tr>
            <td>Down</td><td>A,S,D</td>
        </tr>
        <tr>
            <td>Left</td><td>U,J,N</td>
        </tr>
        <tr>
            <td>Right</td><td>I,K,M</td>
        </tr>
        <tr>
            <td>Save State</td><td>T</td>
        </tr>
        <tr>
            <td>Reset State</td><td>R</td>
        </tr>
        <tr><th>Unfortunately there are no mobile controls, yet..</th></tr>
    </tbody>
</table>