<div class="bg-light container">
    <p>home works!</p>
    <span>{{ title }} app is running!</span>
    <br />
    <div class="arrow"></div>
    <div class="row" style="width:800px; justify-content: center; text-align: center; margin: auto;">
            <div class="flowing-traffic" style="height: 20px; width: 100px; background-color: green; display: inline-block;"></div>
            <div class="flowing-traffic"style="height: 20px; width: 100px; background-color: green; display: inline-block;"></div>
            <div class="flowing-traffic"style="height: 20px; width: 100px; background-color: green; display: inline-block;"></div>
            <div class="flowing-traffic"style="height: 20px; width: 100px; background-color: green; display: inline-block;"></div>
            <div class="flowing-traffic"style="height: 20px; width: 100px; background-color: green; display: inline-block;"></div>
            <div class="flowing-traffic"style="height: 20px; width: 100px; background-color: green; display: inline-block;"></div>
            <div class="flowing-traffic"style="height: 20px; width: 100px; background-color: green; display: inline-block;"></div>
    </div>
</div>