<div class="footer bg-light rounded container">
   <div class="col-2 item">
      <h2>The End!</h2>
  </div>
   <div class="col-2 item">
      <button type="button" class="btn btn-info" (click)="openModal(template)">Contact Information</button>
  </div>
</div>

<ng-template #template>
   <div class="modal-header">
       <h4 class="modal-title pull-left">Contact Information</h4>
       <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.close()">
    <span aria-hidden="true">&times;</span>
  </button>
   </div>
   <div class="modal-body">
       Hi! The best way to get in contact with me is by email. My email address is gavingrg649@gmail.com.
   </div>
</ng-template>